<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.9.6/jsoneditor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.9.6/jsoneditor.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.min.js"></script>

    <style>
      .action-buttons{
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding:10px;
      }
      .button{
        cursor:pointer;
        text-decoration: none;
        padding: .6em 1.5em;
        display: inline-block;
        background: black;
        color: white;
        /* border-radius: 9999px; */
        font-size: .9em;

      }
    </style>
</head>
<body>
	
	<ul>
		<% for(var i=0; i < files.length; i++) { %>
		   <li>
		     <a href="/files/<%= files[i].filename %>"><%= files[i].filename %></a>
		   </li>
		<% } %>
		 <li>
	     <a href="/new">add file</a>
	   </li>
	</ul>


  <script>
      $('.button.js-save').on('click', function(){
        var data = editor.get();
        axios.post('/api/save', data);
      })
  </script>
</body>
</html>