<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.9.6/jsoneditor.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.9.6/jsoneditor.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.5/sweetalert2.all.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.5/sweetalert2.min.css" />
    <style>
      .action-buttons{
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding:10px;
      }
      .button{
        cursor:pointer;
        text-decoration: none;
        padding: .6em 1.5em;
        display: inline-block;
        background: black;
        color: white;
        /* border-radius: 9999px; */
        font-size: .9em;

      }
    </style>
</head>
<body>
	<div id="jsoneditor" style="width: 100vw; height: calc(100vh - 50px);"></div>
  <div class="action-buttons">
    <a type="button" href="/" class="btn btn-default">Back to files</a>
    <a type="button" class="btn btn-success js-save">Create</a>
  </div>

  <script>
      // create the editor
      var container = document.getElementById("jsoneditor");
      var options = {
        mode: 'tree',
        modes: ['code','tree'],
      };
      var editor = new JSONEditor(container, options);

      // set json
      var json = <%-JSON.stringify(json)%>;
      editor.set(json);

      // get json
      var baseURL = '<%= baseURL %>';
      var json = editor.get();

      // save button action
      $('.js-save').on('click', function(){
        var data = editor.get();
        
        swal({
          title: 'Name your file',
          input: 'text',
          showCancelButton: true,
          confirmButtonText: 'Submit',
          showLoaderOnConfirm: true,
          preConfirm: function (filename) {
            return new Promise(function (resolve, reject) {
              setTimeout(function() {
                if (filename === 'taken@example.com') {
                  reject('This email is already taken.')
                } else {
                  axios.post('/api/save', {
                    data:data,
                    filename: filename || 'new'
                  }).then(res => {
                    const redirect = res.data.path;
                    resolve(redirect)
                  })
                }
              }, 2000)
            })
          },
          allowOutsideClick: false
        }).then(function (url) {

          swal({
            type: 'success',
            title: 'File saved!',
            html: baseURL + url
          }).then(res => {
            window.location = baseURL;
          })
        })

    

      })
  </script>
</body>
</html>